{% block header %}
    <div id="header">
        <div id="logo">
            <div id="logo_text">
                <h1><a href="/">Origami<span
                        class="logo_colour"> World</span></a>
                </h1>
                <h2>Traditions. Affordable. Origami World.</h2>
            </div>
        </div>
        <div id="menubar">
            <ul id="menu">
                <li class="selected"><a href="/">Home</a></li>
                <li><a href="/study_programs/">Study Programs</a></li>
                <li><a href="/about/">About Us</a></li>
            </ul>
        </div>

    </div>
{% endblock header %}