{% block header %}
    <div id="header">
        <div id="logo">
            <div id="logo_text">
                <h1><a href="index.html.jinja">Origami<span
                        class="logo_colour"> World</span></a>
                </h1>
                <h2>Traditions. Affordable. Origami World.</h2>
            </div>
        </div>
        <div id="menubar">
            <ul id="menu">
                <li class="selected"><a href="index.html.jinja">Home</a></li>
                <li><a href="examples.html.jinja">Courses</a></li>
                <li><a href="another_page.html.jinja">Teachers</a></li>
                <li><a href="/contact/">Registration</a></li>
            </ul>
        </div>

    </div>
{% endblock header %}