{% block header %}
    <div id="header">
        <div id="logo">
            <div id="logo_text">
                <h1><a href="index.html.jinja">Simple<span
                        class="logo_colour"> Style Blue Trees</span></a>
                </h1>
                <h2>Simple. Contemporary. Website Template.</h2>
            </div>
        </div>
        <div id="menubar">
            <ul id="menu">
                <li class="selected"><a href="index.html.jinja">Home</a></li>
                <li><a href="examples.html.jinja">Examples</a></li>
                <li><a href="another_page.html.jinja">Another Page</a></li>
                <li><a href="/contact/">Contact Us</a></li>
            </ul>
        </div>

    </div>
{% endblock header %}