{% extends 'base.html.jinja' %}
{% block title %}Contact Us{% endblock title %}
<body>
{% block body %}
    {% block header %}
        {{ super() }}
    {% endblock header %}
    {% block sidebar %}
        {{ super() }}
        {% block news %}
        {% endblock news %}
    {% endblock sidebar %}
    {% block content %}
        <div id="content">
            <h1>Contact Us</h1>
            <p>Below is an example of how a contact form might look with this
                template:</p>
            <form action="" method="post">
                <div class="form_settings">
                    <p><span>Name</span><label>
                        <input class="contact" type="text"
                               name="name" value=""/>
                    </label></p>
                    <p><span>Email Address</span><label>
                        <input class="contact" type="text"
                               name="email"
                               value=""/>
                    </label></p>
                    <p><span>Message</span><label>
                            <textarea class="contact textarea"
                                      rows="8" cols="50"
                                      name="message"></textarea>
                    </label>
                    </p>
                    <p style="padding-top: 15px">
                        <span>&nbsp;</span><input
                            class="submit" type="submit"
                            value="submit"/></p>
                </div>
            </form>
        </div>
    {% endblock content %}
    {% block footer %}
        {{ super() }}
    {% endblock footer %}
{% endblock body %}
</body>
